In [3]:
import astropy.units as u
from astropy.coordinates import SkyCoord

import pandas as pd

C:\Users\thoma\AppData\Local\Temp\ipykernel_20856\248438710.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [90]:
dfk.columns

Index(['EPIC ID', 'Teff', 'logg', 'Flare #', 'Observation time',
       'Average flare duration', 'Longest flare duration',
       'Shortest flare duration', 'Average percentage increase',
       'Highest percentage increase', 'Lowest percentage increase',
       'Flares per hour', 'Flares per day', 'RA', 'Dec'],
      dtype='object')

In [5]:
dfk = pd.read_csv("C:\Vs_code_projects\mdwarf_flares\K2_catalogues\K2_catalogue_degrees.csv")
dft = pd.read_csv("C:\Vs_code_projects\mdwarf_flares\TESS_catalogues\TESS_catalogue_degrees_fixed.csv")

df = pd.read_csv("C:\Vs_code_projects\mdwarf_flares\cross_dataset.csv", delim_whitespace = True)

#dfk_og = pd.read_csv("C:\Vs_code_projects\mdwarf_flares\K2_catalogues\K2_dataset.csv", delim_whitespace = True)
#dft_og = pd.read_csv("C:\Vs_code_projects\mdwarf_flares\TESS_catalogues\TESS_dataset.csv")

#dfk.drop(columns = ['Unnamed: 0'], inplace = True)
#dft.drop(columns = ['Unnamed: 0'], inplace = True)

print(len(dfk))
print(len(dft))

dfk.drop(columns = 'Unnamed: 0', inplace = True)

#df['TIC_ID'] = df['TIC_ID'].str.strip()

dfk['EPIC ID'] = dfk['EPIC ID'].astype(int)
dft['TIC ID'] = dft['TIC ID'].astype(int)
df['EPIC_ID'] = df['EPIC_ID'].astype(int)
df['TIC_ID'] = df['TIC_ID'].astype(int)

3242
2148

C:\Users\thoma\AppData\Local\Temp\ipykernel_1224\2931913087.py:4: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv("C:\Vs_code_projects\mdwarf_flares\cross_dataset.csv", delim_whitespace = True)

In [7]:
dfk_1 = pd.read_csv("C:\Vs_code_projects\mdwarf_flares\K2_catalogues\K2_catalogue_what.csv")
dft_1 = pd.read_csv("C:\Vs_code_projects\mdwarf_flares\TESS_catalogues\TESS_catalogue_what.csv")

In [5]:
dfk_1.head()

,Unnamed: 0,EPIC ID,Teff,logg,Flare #,Observation time,Average flare duration,Longest flare duration,Shortest flare duration,Average percentage increase,Highest percentage increase,Lowest percentage increase,Flares per hour,Flares per day,RA,Dec
0,0,213439082,4103.3760,4.6624,0.0,81.338904,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,289.550874,-29.420469
1,1,248442622,4173.1143,4.2693,12.0,79.663803,0.168562,0.531225,0.081727,1.446144,2.923393,0.373852,0.006276,0.150633,155.819709,1.205549
2,2,249253853,3882.6650,4.6602,4.0,87.979472,0.153238,0.224748,0.102158,0.917014,1.490879,0.323391,0.001894,0.045465,229.929481,-24.972583
3,3,220209793,4213.1885,4.6687,6.0,78.682640,0.146426,0.245180,0.081726,0.760663,1.731229,0.297475,0.003177,0.076256,19.428664,0.350437
4,4,205924604,3656.4272,4.2284,19.0,69.140891,0.154850,0.326905,0.081726,1.271449,3.076005,0.260067,0.011450,0.274801,334.012805,-17.251114

In [8]:
dft_1.head()

,Unnamed: 0,TIC ID,Teff,logg,Flare #,Observation time,Average flare duration,Longest flare duration,Shortest flare duration,Average percentage increase,Highest percentage increase,Lowest percentage increase,Flares per hour,Flares per day,RA,Dec
0,0,2673117,3375.92,4.42,4,52.562400,0.484387,1.000026,0.083336,83.633965,259.397650,8.000636,0.003171,0.076100,289.550957,-29.420377
1,1,293891048,3609.01,4.49,1,48.962322,0.062506,0.062506,0.062506,14.167738,14.167738,14.167738,0.000851,0.020424,77.674150,16.986327
2,2,9029987,3989.59,4.68,33,263.419883,0.227695,1.499992,0.027778,3714.754433,57072.292364,-14054.628516,0.005220,0.125275,355.694492,-10.194506
3,3,188569804,3726.25,4.72,12,162.233461,0.056134,0.104164,0.027778,65.638406,548.317194,1.584852,0.003082,0.073967,338.853970,-17.733155
4,4,458656217,3801.13,4.63,0,149.812939,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,129.388576,10.739226

In [6]:
len(dfk_1)

388

In [22]:
TIC = 173163511

dfk.loc[dfk['EPIC ID'] == '201150552'].index

Index([], dtype='int64')

In [78]:
dft_new

Empty DataFrame
Columns: [TIC ID, Teff, logg, Flare #, Observation time, Average flare duration, Longest flare duration, Shortest flare duration, Average percentage increase, Highest percentage increase, Lowest percentage increase, Flares per hour, Flares per day, RA, Dec]
Index: []

In [28]:
EPIC_ID = []
TIC_ID = []

#dfk_new = pd.DataFrame(columns = ['EPIC ID', 'Teff', 'logg', 'Flare #', 'Observation time', 'Average flare duration', 'Longest flare duration', 'Shortest flare duration', 'Average percentage increase', 'Highest percentage increase', 'Lowest percentage increase', 'Flares per hour', 'Flares per day', 'RA', 'Dec'])
#dft_new = pd.DataFrame(columns = ['TIC ID', 'Teff', 'logg', 'Flare #', 'Observation time', 'Average flare duration', 'Longest flare duration', 'Shortest flare duration', 'Average percentage increase', 'Highest percentage increase', 'Lowest percentage increase', 'Flares per hour', 'Flares per day', 'RA', 'Dec'])

for i in range(len(dft)):
    TIC = dft['TIC ID'][i] #get the TIC ID for current star
    j = df.loc[df['TIC_ID'] == TIC].index[0] #find the index that star is in in the original dataset
    EPIC = df['EPIC_ID'][j] #cross match to the original Kepler dataset
    #print(EPIC)
    if (dfk['EPIC ID'] == EPIC).any(): #check if the EPIC ID is in our cut dataset
        
        k = dfk.loc[dfk['EPIC ID'] == EPIC].index[0]
        
        EPIC_ID.append(dfk['EPIC ID'][k])
        TIC_ID.append(dft['TIC ID'][i])
        
    else:
        pass

dft_new = dft[dft['TIC ID'].isin(TIC_ID) == True].reset_index(drop = True)
dfk_new = dfk[dfk['EPIC ID'].isin(EPIC_ID) == True].reset_index(drop = True)

In [32]:
EPIC_ID

[213439082,
 246923957,
 245973053,
 205911796,
 211345931,
 251364386,
 249114983,
 201405299,
 201376427,
 248442622,
 249253853,
 220209793,
 205924604,
 211314705,
 201184549,
 246740198,
 249253386,
 205910644,
 212878593,
 211336747,
 213488455,
 210456166,
 249159746,
 249165479,
 210349838,
 248468751,
 251594809,
 251589349,
 251583764,
 245998121,
 228728919,
 251380949,
 212295535,
 202067525,
 202084610,
 211537249,
 245934486,
 205929676,
 201183294,
 246050424,
 211314440,
 220167475,
 220196985,
 251390627,
 220243722,
 202135872,
 248443207,
 248428938,
 228716992,
 245925302,
 220208389,
 205961974,
 206017207,
 248418146,
 205911100,
 205938176,
 201372271,
 245964562,
 251378560,
 201248254,
 228716608,
 201149639,
 211382837,
 205908577,
 211324854,
 211376293,
 210420401,
 212298996,
 245916005,
 228744917,
 211519237,
 211307660,
 220232200,
 249101572,
 211426339,
 205912386,
 202085297,
 202135853,
 211357190,
 228759869,
 211408841,
 211333549,
 248429400,
 220202259,
 246915239,
 251620682,
 220232535,
 201283422,
 210384192,
 211402150,
 220153480,
 248431552,
 245992995,
 210329711,
 202587982,
 212221986,
 202081526,
 205980065,
 245958685,
 211374549,
 251556906,
 210361757,
 251376454,
 211378687,
 220186649,
 201260636,
 202813658,
 201140975,
 228743446,
 211395279,
 210372126,
 212206519,
 251391693,
 228727977,
 220259414,
 201174640,
 220215323,
 202084234,
 211375321,
 228723628,
 248467000,
 206014402,
 246706378,
 211480727,
 246708072,
 213462890,
 220234669,
 220201150,
 201264179,
 228767376,
 201218774,
 228720648,
 246032593,
 246832524,
 246015696,
 212212344,
 228728812,
 220199246,
 245941164,
 211480470,
 212217647,
 202068113,
 202135114,
 248441185,
 220152532,
 248456193,
 228714614,
 201287802,
 228712872,
 206024309,
 210375265,
 211500278,
 212299157,
 210480766,
 220278539,
 228760197,
 212284993,
 205942270,
 228726934,
 228762767,
 201165795,
 246746614,
 251405783,
 228754121,
 206006723,
 212271290,
 220172740,
 210370656,
 231526829,
 220211133,
 245998783,
 228747561,
 201152644,
 211373363,
 201359129,
 210381646,
 201903390,
 202085551,
 228727599,
 212221504,
 246685007,
 246844308,
 251625366,
 246728920,
 220234729,
 220303546,
 211395034,
 201166730,
 220279762,
 212330607,
 211525023,
 210407201,
 210424595,
 220214138,
 228720626,
 201191486,
 211425510,
 228720389,
 220205364,
 248470153,
 251360907,
 201173976,
 201175161,
 211319940,
 201149420,
 201195593,
 228733130,
 245937515,
 201180709,
 211372933,
 228732260,
 201163416,
 220176726,
 211358752,
 212282694,
 245969161,
 205925135,
 211407353,
 202083293,
 205930485,
 211432062,
 245966594,
 220163154,
 245919176,
 201189844,
 245996687,
 205963438,
 211392983,
 245913422,
 211432376,
 245921214,
 201390316,
 220245588,
 211322184,
 206019671,
 210379141,
 201077030,
 211356726,
 228711197,
 211358479,
 201181471,
 245945608,
 211337552,
 245942429,
 201177699,
 202135885,
 245943220,
 245940388,
 245925061,
 212324305,
 205973393,
 228705976,
 211324804,
 248420912,
 220172208,
 211376530,
 228709674,
 220260884,
 245923027,
 220171485,
 220177289,
 211430777,
 220171406,
 228722851,
 211325490,
 220205909,
 220217802,
 211324534,
 245993874,
 201245379,
 212319974,
 211349429,
 228714518,
 246745786,
 202068504,
 246753673,
 220257375,
 201183292,
 210369015,
 220210531,
 211339555,
 248423501,
 220160712,
 205982496,
 210425673,
 205965241,
 228739553,
 228716624,
 220191598,
 245932685,
 220244084,
 228743482,
 201148030,
 210370582,
 210466851,
 246868287,
 211351975,
 212207435,
 201263800,
 220221184,
 248416759,
 228716327,
 205911202,
 220263373,
 245930965,
 220217642,
 220197043,
 220197297,
 201920159,
 220159781,
 245972583,
 220165000,
 246043496,
 245939622,
 201145370,
 248449640,
 201241974,
 205952324,
 246767446,
 201148900,
 206020713,
 220202916,
 201165011,
 220239179,
 248461118,
 201895362,
 220229280,
 211383671,
 220234553,
 246074131,
 220298669,
 246697609,
 201089091,
 205968379,
 220263089,
 220183549,
 220197813,
 229153363,
 220173213,
 220199072,
 246636441,
 245925841,
 205934242,
 248472875,
 201274176,
 220189671,
 228736966,
 210425130,
 220154854,
 228753037,
 248407141,
 228708703,
 201184584,
 201256431,
 220225125,
 228744129,
 228722121,
 246708982,
 246699369,
 205970716,
 220201062,
 211372420,
 246667147,
 211397213,
 228714878,
 245957078,
 245993864,
 248434848,
 245931571,
 248415644,
 246028938,
 210327065,
 228721295,
 211477574,
 201392089,
 201166171,
 220197340,
 201457252,
 201170018,
 201217949,
 211432351,
 201179349,
 201225541,
 201293791,
 211438319,
 212339487,
 211503930,
 211311519]

In [36]:
dfk_new.to_csv("C:\Vs_code_projects\mdwarf_flares\K2_catalogues\K2_catalogue_what.csv")

In [33]:
tic_id = []
epic_id = []

for i in range(len(dft)):

    c1 = SkyCoord(dft['RA'][i]*u.deg, dft['Dec'][i]*u.deg)

    for j in range(len(dfk)):

        c2 = SkyCoord(dfk['RA'][j]*u.deg, dfk['Dec'][j]*u.deg)
        sep = c1.separation(c2)

        if sep.arcsec <= 5:
            tic_id.append(dft['TIC ID'][i])
            epic_id.append(dfk['EPIC ID'][j])

dft_new2 = dft[dft['TIC ID'].isin(tic_id) == True].reset_index(drop = True)
dfk_new2 = dfk[dfk['EPIC ID'].isin(epic_id) == True].reset_index(drop = True)

KeyboardInterrupt:

Attempt to cross match between original datasets

In [36]:
dft_new.to_csv("C:\Vs_code_projects\mdwarf_flares\TESS_catalogues\TESS_catalogue_cut.csv", index = False)

In [23]:
c1 = SkyCoord(dft_new['RA'][1]*u.deg, dft_new['Dec'][1]*u.deg)
c2 = SkyCoord(dfk_new['RA'][1]*u.deg, dfk_new['Dec'][1]*u.deg)
sep = c1.separation(c2)
sep.arcsec

281926.353138906

In [108]:
dfk.drop(1921, inplace = True)

In [109]:
dfk.reset_index(inplace = True)

In [10]:
print(len(dfk_new))
print(len(dft_new))

388
388

In [19]:
dfk_new.head()

,Unnamed: 0,EPIC ID,Teff,logg,Flare #,Observation time,Average flare duration,Longest flare duration,Shortest flare duration,Average percentage increase,Highest percentage increase,Lowest percentage increase,Flares per hour,Flares per day,RA,Dec
0,129,213439082,4103.3760,4.6624,0.0,81.338904,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,289.550874,-29.420469
1,164,248442622,4173.1143,4.2693,12.0,79.663803,0.168562,0.531225,0.081727,1.446144,2.923393,0.373852,0.006276,0.150633,155.819709,1.205549
2,167,249253853,3882.6650,4.6602,4.0,87.979472,0.153238,0.224748,0.102158,0.917014,1.490879,0.323391,0.001894,0.045465,229.929481,-24.972583
3,173,220209793,4213.1885,4.6687,6.0,78.682640,0.146426,0.245180,0.081726,0.760663,1.731229,0.297475,0.003177,0.076256,19.428664,0.350437
4,183,205924604,3656.4272,4.2284,19.0,69.140891,0.154850,0.326905,0.081726,1.271449,3.076005,0.260067,0.011450,0.274801,334.012805,-17.251114

In [20]:
dft_new.head()

,TIC ID,Teff,logg,Flare #,Observation time,Average flare duration,Longest flare duration,Shortest flare duration,Average percentage increase,Highest percentage increase,Lowest percentage increase,Flares per hour,Flares per day,RA,Dec
0,2673117,3375.92,4.42,4,52.562400,0.484387,1.000026,0.083336,83.633965,259.397650,8.000636,0.003171,0.076100,289.550957,-29.420377
1,293891048,3609.01,4.49,1,48.962322,0.062506,0.062506,0.062506,14.167738,14.167738,14.167738,0.000851,0.020424,77.674150,16.986327
2,9029987,3989.59,4.68,33,263.419883,0.227695,1.499992,0.027778,3714.754433,57072.292364,-14054.628516,0.005220,0.125275,355.694492,-10.194506
3,188569804,3726.25,4.72,12,162.233461,0.056134,0.104164,0.027778,65.638406,548.317194,1.584852,0.003082,0.073967,338.853970,-17.733155
4,458656217,3801.13,4.63,0,149.812939,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,129.388576,10.739226

In [8]:
for i in range(len(dft)):

    c1 = SkyCoord(dft_new['RA'][i]*u.deg, dft['Dec'][i]*u.deg)
    c2 = SkyCoord(dfk['RA'][i]*u.deg, dfk['Dec'][i]*u.deg)
    sep = c1.separation(c2)

    #print(sep.arcsec)

    if sep.arcsec >= 5:
        print(i)
        break

0

In [115]:
dfk.to_csv('C:\Vs_code_projects\mdwarf_flares\K2_catalogues\K2_catalogue_cut_revised.csv', index = False)
dft.to_csv('C:\Vs_code_projects\mdwarf_flares\TESS_catalogues\TESS_catalogue_cut_revised.csv', index = False)