In [2]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)

from astroquery.mast import Catalogs
from astroquery.mast import Observations

import astropy.units as u
from astropy.coordinates import SkyCoord

C:\Users\thoma\AppData\Local\Temp\ipykernel_47692\1351515592.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

#@int, int, float, float, float, float, float, float, float, float, float, float, float, float, ra, dec, string, float, float, float, string, string, string, string, string, string, string, string, string, string, string, string, string, float, float, float, float, string, float, float, string, float, float, float, float, float, float, float, float, float, float, float, float, float, float, float, float, float, float, float, float, float, float, float, float, string, float, float, float, float, float, float, float, float, float, float, float, float, float, string, string, float, float, float, float, float, float, float, float, float, float, float, float, string, float, float, float, float, float, float, int, float, string, string, float, float, float, string, float, float, float, float, float, float, float, float, float, float, float, float, string, float, float, string, float, float, float, float, int, string, string, string, string, float, float, float, float, float, float, int, int, string

In [23]:
cross = pd.read_csv("C:\Vs_code_projects\mdwarf_flares\cross_dataset.csv", delim_whitespace = True)
dfk = pd.read_csv("C:\Vs_code_projects\mdwarf_flares\K2_catalogues\K2_catalogue_degrees.csv")
dft = pd.read_csv("C:\Vs_code_projects\mdwarf_flares\TESS_catalogues\TESS_catalogue_degrees_fixed.csv")
merged = pd.read_csv("C:\Vs_code_projects\mdwarf_flares\merged_set.csv")

print(len(cross))
print(len(dfk))
print(len(dft))
print(len(merged))

55641
3242
2148
3242

C:\Users\thoma\AppData\Local\Temp\ipykernel_34136\21422545.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  cross = pd.read_csv("C:\Vs_code_projects\mdwarf_flares\cross_dataset.csv", delim_whitespace = True)

In [5]:
gaia = pd.read_csv("C:\Vs_code_projects\mdwarf_flares\\restart\mdwarf_cut.csv")
k2 = pd.read_csv("C:\Vs_code_projects\mdwarf_flares\\restart\k2_flare_data.csv")

print(len(gaia) - len(k2))

46

In [107]:
dfk.drop(columns = ['Unnamed: 0'], inplace = True)

In [20]:
merge.rename(columns = {"TIC_ID": "TIC ID"}, inplace = True)

In [48]:
dft.rename(columns = {"TIC_ID": "TIC ID"}, inplace = True)

In [7]:
k2 = pd.merge(k2, gaia, on = 'EPIC_ID')

In [13]:
print(len(gaia) - len(k2))

46

In [14]:
k2['EPIC_ID'] = k2['EPIC_ID'].astype(int)

In [23]:
k2.tail()

,EPIC_ID,TIC_ID,RA,DEC,(BP-RP)_0,Amag,Dist,Plx,Gmag,AG,BP-RP,E(BP-RP),Teff,logg,Flare #,Observation time,Average flare duration,Longest flare duration,Shortest flare duration,Average percentage increase,Highest percentage increase,Lowest percentage increase
9771,251811989,800383625,129.601790,10.269090,0.869419,11.825867,437.924239,2.2835,20.032862,0.0,0.869419,0.0,NaN,NaN,0.0,50.814061,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9772,211426006,366399540,126.117233,12.030892,2.779404,9.450759,245.966155,4.0656,16.405136,0.0,2.779404,0.0,NaN,NaN,6.0,74.800707,0.139617,0.183886,0.102158,55.958196,304.488325,4.086673
9773,251812052,800309468,130.923770,10.014326,2.703529,12.510216,315.010238,3.1745,20.001839,0.0,2.703529,0.0,NaN,NaN,0.0,50.814109,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9774,251812055,443997109,131.200420,10.143407,1.797543,9.956051,1447.596989,0.6908,20.759289,0.0,1.797543,0.0,NaN,NaN,0.0,50.814116,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9775,251812059,800390407,128.225500,10.927276,2.343723,14.875445,156.179231,6.4029,20.843561,0.0,2.343723,0.0,NaN,NaN,0.0,50.814006,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [10]:
k2.drop(columns = ['RA_y', 'DEC_y', 'Plx_y', 'Gmag_y', 'AG_y', 'BP-RP_y', 'E(BP-RP)_y', 'Teff_y', 'logg_y', '(BP-RP)_0_y', 'Dist_y', 'Amag_y'], inplace = True)

In [19]:
k2.rename(columns = {'RA_x': 'RA', 'DEC_x': 'DEC', '(BP-RP)_0_x': '(BP-RP)_0', 'Amag_x': 'Amag', 'Dist_x': 'Dist', 'Plx_x': 'Plx', 'Gmag_x': 'Gmag', 'AG_x': 'AG', 'BP-RP_x': 'BP-RP', 'E(BP-RP)_x': 'E(BP-RP)', 'Teff_x': 'Teff', 'logg_x': 'logg'}, inplace = True)

In [21]:
k2.insert(1, 'TIC_ID', k2.pop('TIC_ID'))

In [24]:
k2.to_csv("C:\Vs_code_projects\mdwarf_flares\\restart\k2_flare_data.csv", index = False)

In [25]:
np.where(k2['TIC_ID'] == 175407300)

(array([9001], dtype=int64),)

In [50]:
dft_new = pd.merge(dft, merge, on = "TIC ID")

In [53]:
len(dft_new)

388

In [79]:
TIC = []
EPIC = []

for i in range(len(dft)):
    for j in range(len(dft_new)):
        if dft['TIC ID'][i] == dft_new['TIC ID'][j]:
            TIC.append(dft_new['TIC ID'][j])
            EPIC.append(dft_new['EPIC ID'][j])

In [89]:
TIC = pd.DataFrame(TIC, columns = ["TIC ID"])
EPIC = pd.DataFrame(EPIC, columns = ["EPIC ID"])

In [111]:
dfk_cut = pd.merge(EPIC, dfk, on = "EPIC ID")
dft_cut = pd.merge(TIC, dft, on = "TIC ID")

In [112]:
dfk_cut

,EPIC ID,Teff,logg,Flare #,Observation time,Average flare duration,Longest flare duration,Shortest flare duration,Average percentage increase,Highest percentage increase,Lowest percentage increase,Flares per hour,Flares per day,RA,Dec
0,213439082,4103.3760,4.6624,0.0,81.338904,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,289.550874,-29.420469
1,246923957,4227.9966,4.6517,7.0,80.542173,0.128428,0.163454,0.081727,0.422152,0.528157,0.316107,0.003621,0.086911,77.674048,16.986148
2,245973053,3531.7686,4.8287,2.0,78.866530,0.112373,0.122589,0.102158,3.045046,3.084016,3.006077,0.001057,0.025359,355.694423,-10.194495
3,205911796,4242.5005,4.6856,3.0,69.141033,0.143022,0.163455,0.122589,1.007883,1.403511,0.745833,0.001808,0.043390,338.853952,-17.733061
4,211345931,4001.2856,4.7157,2.0,74.800761,0.132808,0.143024,0.122592,1.123601,1.150072,1.097131,0.001114,0.026738,129.388489,10.739308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,201293791,4144.2637,4.5952,0.0,79.970123,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,169.333048,-2.542544
384,211438319,3573.3794,4.7468,1.0,74.800708,0.122590,0.122590,0.122590,10.143912,10.143912,10.143912,0.000557,0.013369,126.718011,12.220987
385,212339487,3540.9473,4.6536,0.0,78.887306,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,203.145473,-16.410239
386,211503930,3423.8625,4.8190,1.0,74.800681,0.143024,0.143024,0.143024,1.766026,1.766026,1.766026,0.000557,0.013369,124.530684,13.194140
387,211311519,3371.5059,4.8119,0.0,50.814099,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,130.651154,10.083014

In [113]:
dft_cut

,TIC ID,Teff,logg,Flare #,Observation time,Average flare duration,Longest flare duration,Shortest flare duration,Average percentage increase,Highest percentage increase,Lowest percentage increase,Flares per hour,Flares per day,RA,Dec
0,2673117,3375.92,4.42,4,52.562400,0.484387,1.000026,0.083336,83.633965,259.397650,8.000636,0.003171,0.076100,289.550957,-29.420377
1,293891048,3609.01,4.49,1,48.962322,0.062506,0.062506,0.062506,14.167738,14.167738,14.167738,0.000851,0.020424,77.674150,16.986327
2,9029987,3989.59,4.68,33,263.419883,0.227695,1.499992,0.027778,3714.754433,57072.292364,-14054.628516,0.005220,0.125275,355.694492,-10.194506
3,188569804,3726.25,4.72,12,162.233461,0.056134,0.104164,0.027778,65.638406,548.317194,1.584852,0.003082,0.073967,338.853970,-17.733155
4,458656217,3801.13,4.63,0,149.812939,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,129.388576,10.739226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,38064629,3630.99,4.66,3,24.562474,0.347224,0.562499,0.083332,186.582375,476.497364,38.633716,0.005089,0.122138,169.333166,-2.542571
384,7024655,3521.91,4.84,0,24.416936,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,126.717981,12.220977
385,422327982,4231.09,4.66,2,25.000381,0.104168,0.125002,0.083334,309.406221,451.003885,167.808557,0.003333,0.079999,203.145676,-16.410147
386,186818099,3598.69,4.37,0,48.833775,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,124.530649,13.194239
387,396742522,3875.89,4.75,2,24.417115,0.302091,0.333339,0.270844,6.042069,8.507288,3.576851,0.003413,0.081910,130.651202,10.083236

In [114]:
dfk_cut.to_csv("C:\Vs_code_projects\mdwarf_flares\K2_catalogues\K2_catalogue_388.csv", index = False)
dft_cut.to_csv("C:\Vs_code_projects\mdwarf_flares\TESS_catalogues\TESS_catalogue_388.csv", index = False)

In [17]:
merge.drop(columns = "Unnamed: 0", inplace = True)

In [22]:
merge.to_csv("C:\Vs_code_projects\mdwarf_flares\merged_set.csv", index = False)

In [44]:
count = 0

for i in range(len(help)):
    if help[i] == 'True':
        count += 1

print(count)

0

In [3]:
test = pd.read_csv("C:\Vs_code_projects\mdwarf_flares\crossmatch_catalogues\original_dataset.csv", delim_whitespace = True)

C:\Users\thoma\AppData\Local\Temp\ipykernel_11756\3746598103.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  test = pd.read_csv("C:\Vs_code_projects\mdwarf_flares\crossmatch_catalogues\original_dataset.csv", delim_whitespace = True)

In [10]:
test.to_csv("C:\Vs_code_projects\mdwarf_flares\crossmatch_catalogues\original_dataset.csv", index = False, sep = ',')

Merge using pd.merge for EPIC ID column